In [2]:
print("Hello world")

Hello world

In [3]:
name = "Alice"         # String
age = 25               # Integer
height = 5.4           # Float
is_student = True      # Boolean
print("Name: ", name)
print("Age:", age)
print("Height: ",height)
print("Is he/she a student?: ", is_student)

Name:  Alice
Age: 25
Height:  5.4
Is he/she a student?:  True

In [4]:
name = input("Enter your name: ")
print("Hello,", name)

Hello, Joe

In [5]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You're an adult.")
else:
    print("You're a minor.")

You're an adult.

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [8]:
def greet(name):
    print("Hello,", name)
greet("Alice")

Hello, Alice

In [9]:
#Mini Challenge 1
name = input("Enter your name: ")
age = int(input("Enter your age: "))
years_left = 100 - age
print("Hi", name + "!", "You'll turn 100 in", years_left, "years.")

Hi uzi! You'll turn 100 in 78 years.

In [10]:
fruits = ["apple", "banana", "mango"]
print(fruits[0])      # Output: apple

apple

In [11]:
fruits.append("orange")   # Add an item
fruits.remove("banana")   # Remove an item
print(len(fruits))        # Count items

3

In [12]:
coordinates = (10, 20)
print(coordinates[0])     # Output: 10

10

In [13]:
student = {
    "name": "Alice",
    "age": 21,
    "grade": "A"
}
print(student["name"])   # Output: Alice
student["age"] = 22           # Update a value
student["city"] = "Mumbai"    # Add a new key-value pair
del student["grade"]          # Delete a key

print(student)

Alice
{'name': 'Alice', 'age': 22, 'city': 'Mumbai'}

In [14]:
numbers = {1, 2, 2, 3, 4, 4}

numbers.add(5)
numbers.remove(2)

print(numbers)

{1, 3, 4, 5}

In [15]:
with open("output.txt", "w") as file:
    file.write("Hello, this is a test.")

In [18]:
with open("output.txt", "a") as file:
    file.write("\nAdding a new line.")

In [19]:
with open("output.txt", "r") as file:
    content = file.read()
    print(content)

Hello, this is a test.
Adding a new line.
Adding a new line.

In [ ]:
try:
    number = int(input("Enter a number: "))
    print(10 / number)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Please enter a valid number.")

In [ ]:
#Mini Challenge 3
students = {}

for i in range(3):
    name = input("Enter student name: ")
    score = int(input("Enter score: "))
    students[name] = score

print("\nStudent Results:")
for name, score in students.items():
    print(f"{name} scored {score}")

Student Results:
Alice scored 76
Joe scored 47
Harry scored 89